<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />

    <title>Fembot Status</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Fembot</h1>
      <img src="https://i.kym-cdn.com/photos/images/original/001/152/186/a6d.png" alt="Fembot image" width="200" height="120" style="float: right">
    </header>

    <main>
      <div class="dropdown">
        <button class = "dropbtn"> More Stuff </button>
        <div class ="dropdown-content">
          <a href="#">Bot Statistics</a>
          <a href="#">About</a>
        </div>
      </div>

      <br></br>

      <p>oiio</p>

    </main>
  </body>
</html>
