/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(270deg, #1be1ae, #1ba2e1);
  background-size: 400% 400%;
  font-family: sans-serif;
  margin: 2em 1em;
  line-height: 1.5em;
  animation: AnimationName 30s ease infinite;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
}

h1 {
  font-style: italic;
  color: #24247E;
  max-width: calc(100% - 5rem);
  line-height: 1.1;
  
}

.dropbtn {
  background-color: #bbbbf2;
  border: 2px solid currentColor;
  border-radius: 0.25em;
  cursor: pointer;
  font-size: inherit;
  line-height: 1.4em;
  padding: 0.25em 1em;
  max-width: 20ch;
}

.dropdown {
  position: absolute;
  display: inline-block;
}

.dropdown-content {
  display:none;
  /* background-color: #bbbbf2; */
  cursor: pointer;
  font-size: inherit;
  line-height: 1.4em;
  max-width: 20ch;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 0.25em 1em;
  background-color: #bbbbf2;
  border: 2px solid currentColor;
  border-radius: 0.25em;
  font-size: inherit;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {color: blue;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {color: blue;}


@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
